
{% extends "layout.html" %}
{% block content %}
<div class="ui container">
    <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui red image header">
              <img src="/static/build/img/logo_large.765db5cc25acfe75849d2d1c854d650d.png" class="image">
            </h2>
            <form class="ui large form" method="POST" action="" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{form.username(placeholder="Username")}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            {{form.email(placeholder="Email")}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password(placeholder="Password") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.confirm(placeholder="Password (again)") }}
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large red submit button">Register</button>
                </div>
                <div class="ui error message"></div>
            </form>
            <div class="ui message">
              return to <a class="ui red" href="{{ url_for('public.home') }}">login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
